### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [42]:
# Count the number of unique items in the 'SN' column
total_players_count = purchase_data['SN'].nunique()

# Create dataframe displaying the result of the previous .nunique() function in a single column
total_players_df = pd.DataFrame({'Total Players': [total_players_count]}, index = [''])

# Display DataFrame
total_players_df

  Total Players
            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
# Count the number of unique items in the 'Item Name' column
unique_items = purchase_data['Item Name'].nunique()

# Find the average of all the purchase prices
average_price = purchase_data['Price'].mean()

# Count the number of purchases
number_of_purchases = purchase_data['Purchase ID'].count()

# Add up the total amount of money collected from purchases
total_revenue = purchase_data['Price'].sum()

# Create dataframe out of previously calculated values
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                      'Average Price': [average_price],
                                      'Number of Purchases': [number_of_purchases],
                                      'Total Revenue':[total_revenue]}, index = [''])

# Format appropriate column values for currency
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)


# Display DataFrame
purchasing_analysis_df

  Number of Unique Items Average Price  Number of Purchases Total Revenue
                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [46]:
# Remove duplicate screen names to make sure we only count unique males
unique_players = purchase_data.drop_duplicates(['SN'])

# Return a Series of counts for each gender
gender_counts = unique_players["Gender"].value_counts()

# Calculate the percentage of total players represented by each gender
percents = (gender_counts / unique_players['SN'].count()) * 100

# Create DataFrame to summarize calculations
gender_demographics_df = pd.DataFrame({'Total Count': gender_counts, 'Percentage of Players': percents})

# Format appropriate column values for percentage
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)

# Display DataFrame
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
# Group data set by gender
grouped_df = purchase_data.groupby(['Gender'])

# Calculate purchase count for each gender
purchase_count = grouped_df['SN'].count()

# Calculate average purchase for each gender
average_purchase = grouped_df['Price'].mean()

# Calculate total purchases for each gender
total_of_purchases = grouped_df['Price'].sum()

# Calculate average total purchase for each gender
average_total_per_person = grouped_df['Price'].sum()

# Create DataFrame to summarize calculations
purchase_analysis_by_gender_df = pd.DataFrame({'Purchase Count': purchase_count,
                                              'Average Purchase Price': average_purchase,
                                              'Total Purchase Value': total_of_purchases,
                                              'Avg Total Purchase per Person': average_total_per_person})

# Format appropriate column values for currency
purchase_analysis_by_gender_df["Average Purchase Price"] = purchase_analysis_by_gender_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_by_gender_df["Total Purchase Value"] = purchase_analysis_by_gender_df["Total Purchase Value"].map("${:.2f}".format)
purchase_analysis_by_gender_df["Avg Total Purchase per Person"] = purchase_analysis_by_gender_df["Avg Total Purchase per Person"].map("${:.2f}".format)

# Display DataFrame
purchase_analysis_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$361.94
Male,652,$3.02,$1967.64,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [51]:
# Create the bins to hold Data  
# bins = [0, 9, 15, 20, 25, 30, 35, 40]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
# Group data set by SN
grouped_sn_df = purchase_data.groupby(['SN'])

# Calculate the purchase counts per player
sn_purchase_count = grouped_sn_df['Purchase ID'].count()

# Calculate the average purchase price per player
sn_avg_purchase_price = grouped_sn_df['Price'].mean()

# Calculate the total of all purchases per player
total_purchase_value = grouped_sn_df['Price'].sum()

# Create DataFrame to summarize calculations
top_spenders_df = pd.DataFrame({'Purchase Count': sn_purchase_count,
                                'Average Purchase Price': sn_avg_purchase_price,
                                'Total Purchase Value': total_purchase_value,})

# Sort Top Spenders DataFrame by Total Purchase Value, starting with the highest values
top_spenders_df_sorted = top_spenders_df.sort_values(by='Total Purchase Value', ascending=False)

# Format appropriate column values for currency
top_spenders_df_sorted["Average Purchase Price"] = top_spenders_df_sorted["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df_sorted["Total Purchase Value"] = top_spenders_df_sorted["Total Purchase Value"].map("${:.2f}".format)


# Display preview of sorted DataFrame
top_spenders_df_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:
# Group data set by Item ID and Name
grouped_item_df = purchase_data.groupby(['Item ID', 'Item Name'])

# Calculate the purchase counts of each item
item_purchase_count = grouped_item_df['Purchase ID'].count()

# Calculate the total of all purchases per item
total_item_purchase_value = grouped_item_df['Price'].sum()

# Recalculate the price of each item
item_price = grouped_item_df['Price'].mean()

# Create DataFrame to summarize calculations
popular_items_df = pd.DataFrame({'Purchase Count': item_purchase_count,
                                'Item Price': item_price,
                                'Total Purchase Value': total_item_purchase_value,})

# Sort Popular Items DataFrame by Total Purchase Count, starting with the highest values
popular_items_df_sorted = popular_items_df.sort_values(by='Purchase Count', ascending=False)

# Format appropriate column values for currency
popular_items_df_sorted["Item Price"] = popular_items_df_sorted["Item Price"].map("${:.2f}".format)
popular_items_df_sorted["Total Purchase Value"] = popular_items_df_sorted["Total Purchase Value"].map("${:.2f}".format)

# Display preview of sorted DataFrame
popular_items_df_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [59]:
# Sort Popular Items DataFrame by Total Purchase Value, starting with the highest values
pop_by_total_value = popular_items_df.sort_values(by='Total Purchase Value', ascending=False)

# Format appropriate column values for currency
pop_by_total_value["Item Price"] = pop_by_total_value["Item Price"].map("${:.2f}".format)
pop_by_total_value["Total Purchase Value"] = pop_by_total_value["Total Purchase Value"].map("${:.2f}".format)

# Display preview of sorted DataFrame
pop_by_total_value.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80