### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [149]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [150]:
# Count the number of unique items in the 'SN' column
total_players_count = purchase_data['SN'].nunique()

# Create dataframe displaying the result of the previous .nunique() function in a single column
total_players_df = pd.DataFrame({'Total Players': [total_players_count]}, index = [''])

# Display DataFrame
total_players_df

  Total Players
            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [151]:
# Count the number of unique items in the 'Item Name' column
unique_items = purchase_data['Item ID'].nunique()

# Find the average of all the purchase prices
average_price = purchase_data['Price'].mean()

# Count the number of purchases
number_of_purchases = purchase_data['Purchase ID'].count()

# Add up the total amount of money collected from purchases
total_revenue = purchase_data['Price'].sum()

# Create dataframe out of previously calculated values
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items],
                                      'Average Price': [average_price],
                                      'Number of Purchases': [number_of_purchases],
                                      'Total Revenue':[total_revenue]}, index = [''])

# Format appropriate column values for currency
purchasing_analysis_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [152]:
# Remove duplicate screen names to make sure we only count unique males
unique_players = purchase_data.drop_duplicates(['SN'])

# Return a Series of counts for each gender
gender_counts = unique_players["Gender"].value_counts()

# Calculate the percentage of total players represented by each gender
percents = (gender_counts / unique_players['SN'].count()) * 100

# Create DataFrame to summarize calculations
gender_demographics_df = pd.DataFrame({'Total Count': gender_counts, 'Percentage of Players': percents})

# Format appropriate column values for percentage
gender_demographics_df.style.format({"Percentage of Players": "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [153]:
# Group data set by gender
grouped_df = purchase_data.groupby(['Gender'])

# Calculate purchase count for each gender
purchase_count = grouped_df['SN'].count()

# Calculate average purchase for each gender
average_purchase = grouped_df['Price'].mean()

# Calculate total purchases for each gender
total_of_purchases = grouped_df['Price'].sum()

# Calculate average total purchase for each gender
average_total_per_person = grouped_df['Price'].sum()

# Create DataFrame to summarize calculations
purchase_analysis_by_gender_df = pd.DataFrame({'Purchase Count': purchase_count,
                                              'Average Purchase Price': average_purchase,
                                              'Total Purchase Value': total_of_purchases,
                                              'Avg Total Purchase per Person': average_total_per_person})

# Format appropriate column values for currency
purchase_analysis_by_gender_df.style.format({"Average Purchase Price": "${:,.2f}",
                                             "Total Purchase Value": "${:,.2f}",
                                             "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [154]:
# Create the bins to hold Data  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 500]

# Create the labels for the bins
categories = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Drop duplicate players from the data set
unique_players_df = purchase_data.drop_duplicates(subset=['SN'], keep='first')

# Count total number of unique players
unique_players_count = unique_players_df['SN'].count()

# Slice data, place into bins, and create new column out of it
unique_players_df['Age Ranges'] = pd.cut(unique_players_df['Age'], bins, labels=categories)

# Group the data set by Age Group
age_group = unique_players_df.groupby('Age Ranges')

# Create series of counts per age group
age_count = age_group['SN'].count()

# Calculate percentage of players per age group
percent = (age_count / unique_players_count) * 100

# Create DataFrame showing total counts and percentage of players per age group
age_demographics = pd.DataFrame({'Total Count': age_count, 'Percentage of Players': percent})

# Turn off false positive warning
pd.options.mode.chained_assignment = None

# Format appropriate column values for percentage
age_demographics.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [155]:
# Create the bins to hold Data  
bins = [0, 9, 14, 19, 24, 29, 34, 39, 500]

# Create the labels for the bins
categories = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Slice data, place into bins, and create new column out of it
purchase_data['Age Ranges'] = pd.cut(purchase_data['Age'], bins, labels=categories)

# Group the data set by Age Group
age_ranges = purchase_data.groupby('Age Ranges')

# Create series of purchase counts per age group
purchase_count = age_ranges['Purchase ID'].count()

# Calculate average purchase price
average_price = age_ranges['Price'].mean()

# Calculate total purchase value
total_age_group_purchase_value = age_ranges['Price'].sum()

# Calculate average total purchase per person
avg_per_person_total_purchase = age_ranges['Price'].mean()

# Create DataFrame showing total counts and percentage of players per age group
age_purchase_analysis = pd.DataFrame({'Purchase Count': purchase_count,
                                      'Average Purchase Price': average_price,
                                      'Total Purchase Value': total_age_group_purchase_value,
                                      'Avg Total Purchase per Person': avg_per_person_total_purchase})

# Turn off false positive warning
pd.options.mode.chained_assignment = None

# Format appropriate column values for currency
age_purchase_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                    "Total Purchase Value": "${:,.2f}",
                                    "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [156]:
# Group data set by SN
grouped_sn_df = purchase_data.groupby(['SN'])

# Calculate the purchase counts per player
sn_purchase_count = grouped_sn_df['Purchase ID'].count()

# Calculate the average purchase price per player
sn_avg_purchase_price = grouped_sn_df['Price'].mean()

# Calculate the total of all purchases per player
total_purchase_value = grouped_sn_df['Price'].sum()

# Create DataFrame to summarize calculations
top_spenders_df = pd.DataFrame({'Purchase Count': sn_purchase_count,
                                'Average Purchase Price': sn_avg_purchase_price,
                                'Total Purchase Value': total_purchase_value,})

# Sort Top Spenders DataFrame by Total Purchase Value, starting with the highest values
top_spenders_df_sorted = top_spenders_df.sort_values(by='Total Purchase Value', ascending=False)

# Format appropriate column values for currency
top_spenders_df_sorted.head().style.format({"Average Purchase Price": "${:,.2f}",
                                            "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [157]:
# Group data set by Item ID and Name
grouped_item_df = purchase_data.groupby(['Item ID', 'Item Name'])

# Calculate the purchase counts of each item
item_purchase_count = grouped_item_df['Purchase ID'].count()

# Calculate the total of all purchases per item
total_item_purchase_value = grouped_item_df['Price'].sum()

# Recalculate the price of each item
item_price = grouped_item_df['Price'].mean()

# Create DataFrame to summarize calculations
popular_items_df = pd.DataFrame({'Purchase Count': item_purchase_count,
                                'Item Price': item_price,
                                'Total Purchase Value': total_item_purchase_value,})

# Sort Popular Items DataFrame by Total Purchase Count, starting with the highest values
popular_items_df_sorted = popular_items_df.sort_values(by='Purchase Count', ascending=False)

# Format appropriate column values for currency
popular_items_df_sorted.head().style.format({"Item Price": "${:,.2f}",
                                            "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [158]:
# Sort Popular Items DataFrame by Total Purchase Value, starting with the highest values
pop_by_total_value = popular_items_df.sort_values(by='Total Purchase Value', ascending=False)

# Format appropriate column values for currency
pop_by_total_value.head().style.format({"Item Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}"})